@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic|Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&#038;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,hebrew,vietnamese&#038;display=swap');

:root {
    --qc-red: #E71939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}

body {
    overflow-x: hidden;
}

li, a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    height: 90px;
    width: 100%;
    margin-top: 2.15%;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 0px;
    padding: 30px 10%;
    background-color: white;
    border: solid 1px rgba(0,0,0,0.15);
}

/* Image and logo settings */
img {
    position:absolute;
    left: 40px;
    cursor: pointer;
    border: 1px solid var(--qc-red);
    border-radius: 0 0 20px 20px;
    height: 160px;
    width: 400px;
    margin-top: -110px;
}

.top {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 1280px;
    margin-left: 28%;
    padding-top: 18.5px;
}

.top li {
    color: var(--qc-red);
    position: relative;
    right: 59px
}

.top li a {
    transition: all 0.3s ease;
}

.top li a:hover {
    color: var(--qc-red);
    font-size: 20px;
    font-size-adjust: 20px;
}

i {
    padding-right: 10px;
}

.fa-solid.fa-truck-fast {
    padding-left: 10px;
}

.head {
    list-style: none;
}

.head li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1.3em;
}

.head li a {
    padding-left: 20px;
    transition: all 0.3s ease;
    margin-left: 250px;
}

.head li a:hover {
    color: var(--qc-red);
    font-size: 25px;
    font-size-adjust: 20px;
}

.fa-solid.fa-caret-down {
    padding-left: 8px;
    transition: all 0.3s ease;
}

.fa-solid.fa-caret-down:hover {
    color: var(--qc-red);
    font-size: 25px;
    font-size-adjust: 20px;
}

#cart {
    cursor: pointer;
    position: absolute;
    margin-top: -13px;
    margin-left: 290px;
    font-size: 1.7em;
    transition: all 0.3s ease;
}

#cart:hover {
    font-size: 35px;
    font-size-adjust: 20px;
}


#myDropdown {
    overflow: hidden;
    position: absolute;
}

  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 290px;
    margin-top: 10px;
    z-index: 3;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .2s ease-in-out; 
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: white;
    background-color: var(--qc-red);
    transform: scale(1.1);
}
  
.show {
    display: block;
}

#product {
    border: none;
    position: absolute;
    height: 450px;
    width: 450px;
    margin-top: 180px;
    margin-left: 220px;
    border: rgba(128,128,128,0.3) 1px solid;
    border-radius: 0;
}

#info {
    width: 600px;
    margin-top: 180px;
    margin-left: 980px;
}

h1 {
    display: inline-block;
}

#cost {
    padding-left: 180px;
}

h1, #cost {
    padding-bottom: 15px;
}

p {
    line-height: 2em;
}

h2 {
    padding-top: 10px;
    font-size: 18px;
}

#info div {
    display: inline-block;
    border: 1px rgba(231, 25, 57, 0.3) solid;
    padding: 3px;
    margin-top: 7px;
    margin-right: 7px;
}

hr {
    margin-top: 20px;
    opacity: 0.4;
}

span {
    opacity: 0.5;
}

#five-lb {
    margin-left: 15px;
}

.dual {
    display: inline-block;
}

#end {
    padding-left: 180px;
}

#coffee-drop {
    margin-top: 10px;
    display: block;
}

#quant {
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    margin-left: 282px;
    bottom: 310px;
}

.rbtn2 {
    margin-top: 20px;
}

#add {
    cursor: pointer;
    margin-top: 20px;
    padding-top: 15px;
    background-color: var(--qc-red);
    color: white;
    width: 100%;
    text-align: center;
    border: 1px var(--qc-red) solid;
    border-radius: 4px;
    transition: all .2s ease-in-out; 
}


#add:hover {
    transform: scale(1.1);
}