@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Nunito:wght@400;500&family=Playfair+Display&family=Roboto:wght@300&display=swap');
:root {
    --c: #384630;
    --a: #f3f6f2;
    --w: #342828;
    --d: #e5ede1;
    --e: #4a6d38;
    --f: #203d5d;
    --g: rgb(195, 218, 247);
}

*{
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.top{ 
    font-family: "Roboto";
    display: flex;
    position: fixed;
    top: 0%;
    height: 5vh;
    width: 100%;
    background-color: var(--f);
}

.top p{
    position: fixed;
    font-size: 18px;
    scale: 90%;
    top: -.8vb;
    left: 42.5vb;
    color:var(--a);
}
.top a{
    position: relative;
    display: flexbox;
    scale: 90%;
    font-size: 16px;
    padding: 6px 10px;
    top: 0.4vb;
    left: 145vb;
    color: var(--a);
}
.top a:hover{
    background-color: var(--w);
    width:fit-content;
    height: fit-content;
    border-radius: 3px;
}
.menu {
    font-family: sans-serif;
    display: flex;
    position: fixed;
    top: 0%;
    height: 11.2vh;
    left: 0;
    width: 100%;
    background-color: var(--g);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.menushop a{
    font-family: "Roboto";
    position: relative;
    left: 39vb;
    top: 6.5vb;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 30px; 
    color: var(--f);
}
.menushop a:hover, #health.active,#flavor.active,#leaf.active{
    color: var(--a);
    background-color: var(--f);
    border-radius: 3px;
}

.menu.active .top,.menu.active a:hover, .menu.active #health.active,.menu.active #flavor.active,.menu.active #leaf.active{
    color: var(--a);
    background-color: var(--c);
}

.menu.active a, .menu.active #shopping-cart{
    color:var(--c);
}

.menu.active {
    background-color: #f3f6f2; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

.menu.active p,.menu.active .top a{
    color:var(--a);
  }
.menu.active .top a:hover{
    color: var(--c);
    background-color:var(--a);
}
.menu.active #search{
    color:var(--a);
    border: 1.5px solid var(--c); 
}

.search {
    position: fixed;
    top: 6.7vb;
    scale: 160%;
    right: 34vb;
  }

#search-icon {
    position: fixed;
    transform: translateX(-170%) translateY(20%);
    scale: 80%;
    color: var(--c); 
}
#search{
    color: var(--f); 
    border: 1.5px solid var(--f); 
    border-radius: 3px;
}
#search-icon:hover {
    scale: 85%; 
}
#shopping-cart{
    position: fixed;
    top: .3vh;
    right: -0.9vw;
    color: var(--f); 
    scale: 135%;
}

#shopping-cart:hover{
    scale: 140%; 
}

#gift{
    position: fixed;
    left: -23px;
}

.logo {
    position: fixed;
    top: 0vh;
    left: 2vw;
}
.logo img{
    position: absolute;
    z-index: 9;
}
a{
    color: #000000;
    text-decoration: none;
}

.carousel{ 
    position: absolute;
    display: flex;
    right: 1px;
    top: 13.5vh;
    justify-content: center;
    overflow: hidden;
}
.banner{
    display: flex; 
    position: relative;
    width: 100vw;
    transform: translateX(0);
    transition: transform 1.5s ease-in-out;
    z-index: -2;
    padding-bottom: 50px;
   
}
.banner img{
    display: block;
    position: relative;
    width: 100vw;
    padding-bottom: 10vh;
    object-fit: cover; 
    background-color: #203d5d;
}
.cozy a{
    font-family: 'Playfair Display';
    font-size: 20px;
    font-size: larger;
    letter-spacing: 1px;
    display: contents;
    position: absolute;
    color: var(--a);
}
.cozy {
    display: flex;
    position: absolute;
    background-color: var(--f);
    top: 11vh;
    width: 106vw;
    justify-content: center;
    padding: 5px 0px;
    margin-left: -10px;
}
#cozy:hover{
    color: #fff5cf;
}
.FeaturedTeaContiner, .WinterEssentialsContiner{
    position: relative;
    top: 85vh;
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid #e0e0e0;
}

.FeaturedTeaContiner{
    background-color: #f2f5f0;
    padding: 10px 30px 20px;
    right: 6px;
    
    overflow: hidden;
}

.FeaturedTeaContiner h1, .WinterEssentialsContiner h1{
    font-family: 'Playfair Display';
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    color:var(--c);
}
.FeaturedTea, .WinterEssentials{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.WinterEssentials{
    transform: translateY(-40px);
}
.WinterEssentials.active{
    transform: translateY(5px);
    transition: ease-out 1.1s;
}
.FeaturedTea div{
    display: flexbox;
    align-content: center;
    width: 220px;
    padding: 25px;
    text-align: center;
    line-height: 35px;
}

.FeaturedTea div img{
    scale: 200%;
    margin: 55px;
}

.FeaturedTea div img:hover{
    scale: 205%;
    transition: ease-in 0.2s;
}
.FeaturedTea  #text{
    font-size: 18px;
}
.FeaturedTea  #text:hover{
    text-decoration: underline;
    color: var(--e);
}
.WinterEssentials div{
    display: block;
    justify-content: center;
    text-align: center;
    width: 220px;
    padding: 25px;
    margin: 10px;
    border: 1px solid #e0e0e0;
}

.text h1{
    font-family: 'Playfair Display';
    font-size: 48px;
    padding: 20px 0px;
    color: #203d5d;
}

#rate{
    border: 0px;
    display: block;
    position: relative;
    padding: 0;
    scale: 90%;
    right: 10px;
    top: 20px;
}

.tea3 #rate{
    top: 0px;
}
.WinterEssentials img{
    scale: 200%;
    padding-bottom: 10px;
    margin: 55px;
}

#rate p, #p{
    position: relative;
    padding: 0;
    top: -15px;
}
.WinterEssentials #text2,#rate p{
    color: #404840;
}

.WinterEssentials #text2:hover{
    text-decoration: underline;
    color: var(--e);
}

#f{
    font-size: 12px;
}

.tea3 #f,.tea3 #p{
    position: relative;
    display: block;
    top: -21px;
}
.tea3 #p{
    top: -36px;
}

#shop3{
    font-family: "Cormorant Garamond";
    display: block;
    position: absolute;
    top: 49vh;
    margin: 0px 10px;
    padding: 10px 64px;
    background-color: var(--c);
    color: #ffffff;
    font-weight: 300;
    transition: ease-in-out 0.6s;
}

#shop3:hover, #shoptea:hover{
    color: var(--c);
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid var(--d);
    transition: ease-in-out 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
#shoptea{
    font-family: "Cormorant Garamond";
    display:block;
    position: relative;
    text-align: center;
    width: fit-content;
    padding: 10px 40px;
    margin-top: 55px;
    left: 42.6vw;
    background-color: var(--c);
     color: #ffffff;
    font-weight: 300;
    transition: ease-in-out 0.6s;
}

.WinterEssentialsContiner{
    padding-bottom: 60px;
}

.LooseLeaf, .FlavorProfiles, .HealthBenefit{  
    display: none; 
    position: fixed;
    flex-direction: column;
    text-align: left;
    width: 12.5vw;
    top:10.6vh;
    left: 24.5vw;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.LooseLeaf a, .FlavorProfiles a,.HealthBenefit a{
    display: flexbox;
    text-align: left;
    color:var(--c);
    font-size: 14px;
    padding: 0px 40px;
    line-height: 35px;
}
.LooseLeaf a:hover,.FlavorProfiles a:hover,.HealthBenefit a:hover{
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--d);
    background-color: var(--a); 
    color:var(--e);
    scale: 102%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.FlavorProfiles{  
    left: 35.8vw;
}

.HealthBenefit{  
    left: 46.6vw;
}

#blank{
    display: flex;
    position: relative;
    top: 100vh;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

footer{
    font-family: "Roboto";
    font-size: 12px;
}