@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Nunito:wght@400;500&family=Playfair+Display&family=Roboto:wght@100&display=swap');

*{
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.top{ 
    font-family: "Roboto";
    display: flex;
    position: fixed;
    top: 0%;
    height: 5vh;
    width: 100%;
    color: #252525;
}

.top p{
    position: fixed;
    font-size: 8px;
    scale: 90%;
    top: 0vb;
    left: 42.5vb;
    
}
.top a{
    position: relative;
    display: flexbox;
    scale: 90%;
    font-size: 8px;
    padding: 3px 14px;
    top: 0.5vb;
    left: 128vb;
    color: #444444;
}
.top a:hover{
    background-color: #d6d6d6;
    width:fit-content;
    height: fit-content;
    border-radius: 2px;
}
.menu {
    font-family: sans-serif;
    display: flex;
    position: fixed;
    top: 0%;
    height: 11.2vh;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff; 
    color: #000000; 
}
.menushop a{
    font-family: "Roboto";
    position: relative;
    left: 39vb;
    top: 6vb;
    font-size: 14px;
    font-weight: 400;
    padding:20px; 
    color: #000000;
}
.menu.active a{
    color: #dedede;
}
.menushop a:hover{
    color: rgb(209, 129, 37);
}
.menu.active {
    background-color: #38312d; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

.menu.active p{
    color: #ffffff;
  }
.menu.active .top a:hover{
    background-color: #252525;
}
.search {
    position: fixed;
    top: 8vb;
    right: 30vb;
  }
.menu.active #shopping-cart{
    color: #ffffff;
}
#search-icon {
    position: fixed;
    transform: translateX(-170%) translateY(20%);
    scale: 80%;
    color: #777;
}
#search-icon:hover {
    scale: 85%; 
}
#shopping-cart{
    position: fixed;
    top: 8.5vh;
    right: 11.4vw;
    color: #424242;
}

#shopping-cart:hover{
    scale: 105%; 
}

.logo {
    position: fixed;
    top: 0vh;
    left: 2vw;
    z-index: 9;
}
.logo img{
    position: absolute;
    z-index: 9;
}
.horizontal-line{
    position: fixed;
    left: 0;
    top: 5vh;
    width: 100%;
    height: .5px; 
    background-color: #dcdcdc;
}
a{
    color: #000000;
    text-decoration: none;
}

#angle{
    position: fixed;
    top: 8.9vh;
    scale: 80%;
}
.dropdownmenu{  
    display: none; 
    position: fixed;
    flex-direction: column;
    text-align: left;
    width: 13vw;
    top:13vh;
    left: 21vw;
    background-color: #e3dcda;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.dropdownmenu a{
    color: #38312d;
    font-size: 10px;
    padding:10px;
    line-height: 35px;
}
.dropdownmenu div:hover{
    border: 1px solid;
    border-radius: 2px;
    border-color: #685649;
}

.banner{
    position: absolute;
    height: 98.4vh;
    top: 10vh;
    left: -13vh;
    height: auto;
    background-color: #ff9054;
    padding-left: 100px;
    padding-right: 100px;
    z-index: -10;
}
.hometext h1{
    font-family: 'Playfair Display';
    font-weight: 100;
    font-size: 60px;
    position: relative;
    left: 10vw;
    top: 28vh;
    width: fit-content;
    color: #fff;
}
.hometext p{
    font-family: "Roboto";
    position: relative;
    display: inline-block;
    width: 450px;
    letter-spacing:.05vh;
    top: 24vh;
    left: 10vw;
    font-size: 13px;
    color: #fff;
}
#season{
    position: relative;
    background-color: #1a1b35;
    color: #f9eed8;
    font-size: 8px;
    padding: 14px 20px;
    border-radius: 3px;
    left: 10vw;
    top: -5vh;
}
#all{
    position: relative;
    color: #fff;
    font-size: 8px;
    left: 12vw;
    top: -5vh;
    padding-bottom: 4px;
    border-bottom: 1.5px #f5f5f5 solid;
}
.shop{
    position: relative;
    top: 10vh;
    
}
.shop a{
    font-family: "Roboto";
    font-weight: 500;
}
.text{
    position: relative;
    top: 100vh;
}
.text h1{
    font-family: "Cormorant Garamond";
    font-weight: lighter;
    position: relative;
    font-size: 40px;
    left: 40vw;
    top: -17vh;
}
.text h3{
    position: relative;
    font-size: 8px;
    left: 45vw;
    top: -14vh;
    color: #b56c98;
}

.SpecialtyCoffees{
    font-family: sans-serif;
    font-size: 8px;
    font-weight: 600;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    top: 95vh;
    align-items: center;
    left: 10.5vw;
}
.SpecialtyCoffees div{
    display: flexbox;
    align-content: center;
    width: 200px;
    padding: 25px;
    text-align: center;
    line-height: 35px;
}
.SpecialtyCoffees div:hover{
    background-color: rgb(244, 249, 249);
    scale: 102%;
    font-size: 8px;
    transition: ease-in 0.3s;
}
#ALL{
    font-family: "Roboto";
    position: relative;
    background-color: #38312d; 
    color: #fdf7ec;
    font-size: 8px;
    font-weight: 500;
    padding: 14px 20px;
    border-radius: 3px;
    top: 105vh;
    left: 45vw;
}

#blank{
    position: relative;
    display: flex;
    top: 103vh;
}