@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic|Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&#038;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,hebrew,vietnamese&#038;display=swap');

:root {
  --qc-red: #E71939;
}

/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.headerTop, .promo {
  background-color: darkolivegreen;
  color: white;
  height: 50px;
}

.headerTop ul, .headerBottom ul {
  display: inline-flex;
  padding: 10px 10px;
}

.headerTop ul li{
  list-style-type: none;
}

#search-icon{ color: black; }

i { color: white; }

.headerBottom {
  margin-left: 50px;
  height: 50px;
}

.head {
  list-style: none;
}

.head li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 1.3em;
}

.head li a {
  color: darkolivegreen;
  text-decoration: none;
}

.head li a {
  color: darkolivegreen;
  text-decoration: none;
}

body { overflow-x: hidden; }

#myDropdown {
  overflow: hidden;
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 100px;
  margin-top: 30px;
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all .2s ease-in-out; 
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: white;
  background-color: darkolivegreen;
  transform: scale(1.1);
}


.show {
  display: block;
}

/* Body */

section {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 170px;
  padding-left: 200px;
  background-color: black;
  z-index: -1;
  height: 50px;
  margin-top: 60px;
  opacity: 0.8;
}

section h1 {
  color: white;
  font-style: italic;
  font-size: 3.5em;
  position: relative;
  top: -97px;
  padding-left: 120px; 
  z-index: 3;
}

.body_container {
  width: 100%;
  margin-top: 20px;
  min-width: 1000px;
}

.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
  width: 200px;
  height: 200px;
}

.itemInfo {
  margin-top: 60px;
}

h2, h3 {
  text-align: center;
}

.price li {
  position: relative;
  padding: 85px 10px;
}

.quantity li {
  position: relative;
  padding: 88px 0px;
}

.quantityBtn {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.subtract, .add {
  width: 28px;
}

/* Order Summary */
.order-summary {
  height: 500px;
}

.order-summary h3 {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline;
}

.order-summary p {
  font-size: 1.5em;
}

.label {
  display: flex;
  margin: 20px 30px;
  justify-content: space-between;
}

.total {
  margin-top: 75px;
}

#checkout {
  color: white;
  background-color: darkolivegreen;
  font-size: 1.5em;
  letter-spacing: 5px;
  width: 75%;
  height: 75px;
}