
/* Reset some default styles for better consistency */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

/* Background settings */
.bg {
    background: url("warmyellow.jpg") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
}

/* Header and search form */
#search-form {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#search-form input {
    width: 150px;
}

#search-form button {
    background-color: #e66f00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Navigation menu */
#main-navigation {
    text-align: left; /* Position the navigation to the left */
}

#main-navigation li {
    display: inline;
    margin: 10px; /* Creates space between shop/subscription/bundle */
}

#main-navigation a {
    text-decoration: none; /* Remove underline for home/shop/cart */
    color: #333; /* Adjust the link color as needed */
}

/* Account login links */
#account-login {
    text-align: right; /* Align the text to the right */
}

#account-login li {
    display: inline;
    margin: 10px;
}

/* Image and logo settings */
img {
    max-width: 325px;
}

#logo-id {
    max-width: 3cm; /* Corrected the property to 'max-width' */
}

.dark-roast-image {
    float: left;
    margin: 20px;
}

/* Text box and price item */
.text-box {
    padding-top: 1cm;
}

.price-item {
    margin-left: 4cm;
}

/* Tasting notes boxes */
.box {
    float: left;
    width: 10%;
    height: 10%;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}

.box img {
    width: 25%;
    height: 25%;
}

/* Margin for h3 element */
h3 {
    margin-top: 20px;
}
